#Project
.idea/
/*/docs/
build/
log/
*ignoreme*
*ignoreme*.*
*ignoreme*/
*.mp4
*.wav
*.txt

# Compiled Object files
*.o

# Precompiled Headers
*.gch

# Compiled Static libraries
*.a

# Executables
*.exe
*.out
00/ex00/megaphone
.clang-format
