#Project
.idea/
.vscode/
scripts/
docs
*subject.pdf
build/
log/
*ignoreme*
*_shrubbery
09/cpp_09/data.csv
09/cpp_09.tgz

#Media files
*.mp4
*.m4a
*.wav

#Notes and references
*.txt
*.html

# Compiled Object files
*.o

# Precompiled Headers
*.gch

# Compiled Static libraries
*.a

# Executables
*.exe
*.out
.clang-format
00/ex00/megaphone
00/ex02/log
01/ex04/*replace
01/ex06/harlFilter
09/ex00/btc
