#Project
.idea/
.vscode/
scripts/
/*/docs/
*subject.pdf
build/
log/
tour/
*ignoreme*
*ignoreme*.*
*ignoreme*/
*.mp4
*.m4a
*.wav
*.txt

# Compiled Object files
*.o

# Precompiled Headers
*.gch

# Compiled Static libraries
*.a

# Executables
*.exe
*.out
.clang-format
00/ex00/megaphone
00/ex02/log
